{% extends "DZbase.html" %}
{% block title %}Про ежей{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<h1>Почему они так милы</h1>
<img src="https://baldezh.top/uploads/posts/2023-12/1703850934_baldezh-top-p-morda-yezha-instagram-39.jpg" width="300" alt="данную картинку сьел ёж, ничего поделать не могу">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Первый пункт
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Необычный внешний вид. Их иголки, которые на самом деле являются видоизменёнными волосами, делают их непохожими на других зверьков.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Второй пункт
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Милые мордочки с большими глазами и длинными ушами.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Третий пункт
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Их иголки, которые на самом деле являются видоизмененными волосами, делают их непохожими на других зверьков. Ежи обладают также милыми мордочками с большими глазами и длинными ушами, что делает их очень привлекательными для многих людей.</div>
    </div>
  </div>
</div>
{% endblock %}