{% extends "DZbase.html" %}
{% block title %}Дом{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="row">
   <div class="col-md-4 col-sm-2">

   </div>
    <div class="card" style="width: 18rem;">
    <img src="https://avatars.mds.yandex.net/get-entity_search/2079849/919734176/S184xU_2x" class="card-img-top" alt="данную картинку сьел ёж, ничего поделать не могу">
    <div class="card-body">
    <h5 class="card-title">Ежи</h5>
    <p class="card-text">"Эти прекрасные создания очень милы."</p>
    <a href="/ёжики" class="btn btn-primary">Идти на страницу про них</a>
    </div>
    </div>
   <div class="col-md-4 col-sm-2">

   </div>
</div>
{% endblock %}